<section class="chat-body">
    <div class="chat-header">
        <button mat-button (click)="openDialogChannelInfo()">
            <h1># ChannelName</h1>
            <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <div class="participants-wrapper">
            <button mat-icon-button (click)="openDialog($event)">
                <img src="../../../assets/img/avatar/2.svg">
                <img src="../../../assets/img/avatar/2.svg">
                <img src="../../../assets/img/avatar/2.svg">
                <h1>3</h1>
            </button>
            <button mat-icon-button (click)="openDialogAddMembers()">
                <span class="material-icons">person_add_alt</span>
            </button>
        </div>
    </div>
    <div class="chat-content">
        <div class="chat">
            <!-- TODO: Add answers to thread amount -->

        </div>
        <div class="chat-input">
            <textarea type="text" placeholder="Nachricht an #Entwicklerteam"></textarea>
            <div class="action-buttons">
                <div class="button-wrapper">
                    <button mat-icon-button>
                        <img src="../../../assets/img/icons/add-gray.svg" alt="Add image">
                    </button>
                    <div class="vector"></div>
                    <button mat-icon-button (click)="togglePicker()">
                        <img src="../../../assets/img/icons/sentiment_satisfied.svg" alt="Add emoji">
                    </button>

                    <div class="emoji-picker" *ngIf="isPickerVisible">
                        <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                    </div>
                    <button mat-icon-button>
                        <img src="../../../assets/img/icons/alternate_email.svg" alt="Tag someone">
                    </button>
                </div>
                <button mat-icon-button>
                    <img src="../../../assets/img/icons/send-button.svg" alt="Send message">
                </button>
            </div>
        </div>
        <!-- TODO: add focus textarea on click -->
    </div>
</section>