<section class="chat-body">
    <div class="chat-header">
        <button mat-button>
            <h1># ChannelName</h1>
            <span class="material-icons">keyboard_arrow_down</span>
        </button>
        <div class="participants-wrapper">
            <img src="../../../assets/img/avatar/2.svg">
            <img src="../../../assets/img/avatar/2.svg">
            <img src="../../../assets/img/avatar/2.svg">
            <h1>3</h1>
            <button mat-icon-button>
                <span class="material-icons">person_add_alt</span>
            </button>
        </div>
    </div>
    <div class="chat-content">
        <div class="chat-input">
            <input type="text" placeholder="Nachricht an">
            <div class="action-buttons">
                <div class="upload-emoji-link">

                </div>
                <button mat-icon-button>
                    <span class="material-icons">send</span>
                </button>
            </div>
        </div>
    </div>
</section>
